#burger-menu {
	display: none; /* Standardmäßig ausblenden */
	flex-direction: column;
	justify-content: space-between;
	width: 1.9em;
	height: 1.5em;
	cursor: pointer;
	position: absolute;
	right: 1em;
	top: 5em;
	z-index: 1100;
}

#burger-menu .bar {
	width: 100%;
	height: 0.3em;
	background-color: #c16126;
	border-radius: 5px;
	transition: all 0.3s ease;
}

@media screen and (max-width: 600px) {
	#wrapper {
		display: grid;
		grid-template-columns: 1fr; /* Eine Spalte */
		gap: 5em;
		padding: 5em;
	}

	body {
		padding-top: 5em;
	}

	header {
		display: flex;
		background-color: #fffefe;
		padding: 0;
		margin: 0;
		justify-content: center;
		width: 100%;
		height: 8em;
		position: fixed;
		top: 0;
		z-index: 1000;
	}

	header img {
		width: auto;
		height: 5em;
	}

	#burger-menu {
		display: flex; /* Burger-Icon anzeigen */
	}

	nav {
		position: fixed;
		top: 0;
		right: -100%; /* Navigation standardmäßig außerhalb der Ansicht */
		width: 70%;
		height: 100%;
		background-color: #fffefe;
		box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
		transition: right 0.3s ease;
		z-index: 1000;
		display: flex;
		flex-direction: column;
		padding-top: 10em;
	}

	nav ul {
		flex-direction: column;
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: center;
	}

	nav ul li {
		margin: -0.5em 0;
	}

	nav ul li a {
		text-decoration: none;
		margin: -0.5em 0;
	}

	nav.open {
		right: 0; /* Navigation in die Ansicht schieben */
		margin: 0em;
	}

	/* Animation für das Burger-Icon */
	#burger-menu.open .bar:nth-child(1) {
		transform: rotate(45deg) translate(8px, 8px);
	}

	#burger-menu.open .bar:nth-child(2) {
		opacity: 0;
	}

	#burger-menu.open .bar:nth-child(3) {
		transform: rotate(-45deg) translate(5px, -5px);
	}

	.card-content {
		margin: 0 auto;
	}

	.button-group {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 0.5em;
	}

	.button-group button {
		flex: 1 1 auto; /* Buttons teilen sich den Platz gleichmäßig */
		max-width: calc(50% - 1em); /* Maximal die Hälfte der Breite */
		margin: 0.5em;
	}
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
	#wrapper {
		display: grid;
		grid-template-columns: repeat(2, 1fr); /* Zwei Spalten */
		gap: 5em;
		padding: 10em;
	}

	.card-content {
		margin: 0 auto;
	}

	.button-group {
		display: flex;
		justify-content: space-evenly; /* Buttons gleichmäßig verteilen */
		flex-wrap: wrap;
		gap: 1em;
	}

	.button-group button {
		flex: 0 1 45%; /* Buttons nehmen etwa 45% der Breite ein */
	}
}
